@media (max-width: 768px) {
    #top1{
        
        margin-bottom: -30px;
    }
    #mobileNavbar a:hover {
        outline: 2px solid white;
        border-radius: 5px;
    }
 
    #menuIcon{
       display: inline-block;
        color: white;
        padding:10px  ;
        margin-left:40vw ;
       
        
       
    }
    #logoimg{
        display: inline-block;
        padding:  0;
        
        
        margin: 0;
        margin-bottom: -10px;
        
       
    }
    #navcontainerokok{
        width: 100vw;
       
    }
    #navw{
        margin-left: 100px;
    }
    #navcontainerlinks a{
        display: none;
    }
    #footerc{
        margin-top: 1vh ;
    }

    
}